# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
*.xlsx
*.csv

# Node / React
node_modules/
dist/
build/
.eslintcache

# Secrets (DO NOT PUSH)
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db
